.chessBoard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  border: 1px solid lightblue;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid lightblue;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 66px;
  cursor: pointer;
  user-select: none; /* 文本不能被选中 */
  line-height: 100px;
  background: #f9f9f9;
  /* display: flex; 开启弹性布局  */
  /* justify-content: center; 水平居中  */
  /* align-items: center; 垂直居中 */
}
.box.O {
  color: red;
}
.box.X {
  color: blue;
}
.box.win {
  background-color: yellow;
}
.status {
  margin: 10px;
  font-size: 20px;
}
button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}